repos:
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.17 # Get the latest from: https://github.com/gruntwork-io/pre-commit/releases
    hooks:
      - id: terraform-fmt
     # - id: terraform-validate
      - id: tflint
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.64.0 # Get the latest from: https://github.com/antonbabenko/pre-commit-terraform/releases
    hooks:
    #  - id: terraform_tfsec
      - id: terraform_docs
      - id: checkov